In [1]:
#importing Python libraries


import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings("ignore")

In [2]:
#importing the dataframes

df1 = pd.read_csv(r"C:\Users\HP-PC\DATA SCIENCE PROFESSIONAL COURSE\pizza_sales\pizzas.csv")
df2 = pd.read_csv(r"C:\Users\HP-PC\DATA SCIENCE PROFESSIONAL COURSE\pizza_sales\order_details.csv")
df3 = pd.read_csv(r"C:\Users\HP-PC\DATA SCIENCE PROFESSIONAL COURSE\pizza_sales\orders.csv")
df4 = pd.read_csv(r"C:\Users\HP-PC\DATA SCIENCE PROFESSIONAL COURSE\pizza_sales\pizza_types.csv", encoding = 'latin1')

In [3]:
df1

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [4]:
df2

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [5]:
df3

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [6]:
df4

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
6,big_meat,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
8,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
10,napolitana,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
11,pep_msh_pep,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
12,pepperoni,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
13,the_greek,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
14,brie_carre,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
15,calabrese,The Calabrese Pizza,Supreme,"Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
16,ital_supr,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
19,sicilian,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
22,spinach_supr,The Spinach Supreme Pizza,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti..."
23,five_cheese,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
24,four_cheese,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
25,green_garden,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."
26,ital_veggie,The Italian Vegetables Pizza,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ..."
27,mediterraneo,The Mediterranean Pizza,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie..."
28,mexicana,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
30,spinach_fet,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
31,veggie_veg,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

## Joining the Data Frames

In [7]:
order_data = pd.merge(df2, df3, on = "order_id", how = "outer")
order_data

,order_details_id,order_id,pizza_id,quantity,date,time
0,1,1,hawaiian_m,1,2015-01-01,11:38:36
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40
2,3,2,five_cheese_l,1,2015-01-01,11:57:40
3,4,2,ital_supr_l,1,2015-01-01,11:57:40
4,5,2,mexicana_m,1,2015-01-01,11:57:40
...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10
48616,48617,21348,four_cheese_l,1,2015-12-31,21:23:10
48617,48618,21348,napolitana_s,1,2015-12-31,21:23:10
48618,48619,21349,mexicana_l,1,2015-12-31,22:09:54
48619,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05

In [8]:
pizza_data = pd.merge(df1, df4, on = "pizza_type_id", how = "outer")
pizza_data

,pizza_id,pizza_type_id,size,price,name,category,ingredients
0,bbq_ckn_s,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,bbq_ckn_m,bbq_ckn,M,16.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,bbq_ckn_l,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,big_meat_s,big_meat,S,12.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
4,big_meat_m,big_meat,M,16.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
...,...,...,...,...,...,...,...
91,the_greek_xl,the_greek,XL,25.50,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
92,the_greek_xxl,the_greek,XXL,35.95,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
93,veggie_veg_s,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
94,veggie_veg_m,veggie_veg,M,16.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
95,veggie_veg_l,veggie_veg,L,20.25,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [9]:
overall_sales_data = pd.merge(order_data, pizza_data, on = "pizza_id", how = "outer")
overall_sales_data

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
0,26.0,11.0,bbq_ckn_l,1.0,2015-01-01,13:02:59,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,43.0,17.0,bbq_ckn_l,1.0,2015-01-01,13:53:00,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,71.0,27.0,bbq_ckn_l,1.0,2015-01-01,15:11:17,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,83.0,33.0,bbq_ckn_l,1.0,2015-01-01,15:54:08,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
4,123.0,51.0,bbq_ckn_l,1.0,2015-01-01,18:48:28,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48620,48406.0,21251.0,veggie_veg_s,2.0,2015-12-30,12:45:20,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48621,48493.0,21296.0,veggie_veg_s,1.0,2015-12-31,15:13:40,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48622,48500.0,21298.0,veggie_veg_s,1.0,2015-12-31,15:35:37,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48623,48503.0,21299.0,veggie_veg_s,1.0,2015-12-31,15:52:16,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
48624,48553.0,21319.0,veggie_veg_s,1.0,2015-12-31,18:07:19,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

## Checking features of the joined dataframe

In [10]:
overall_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48625 entries, 0 to 48624
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  float64
 1   order_id          48620 non-null  float64
 2   pizza_id          48625 non-null  object
 3   quantity          48620 non-null  float64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48625 non-null  object
 7   size              48625 non-null  object
 8   price             48625 non-null  float64
 9   name              48625 non-null  object
 10  category          48625 non-null  object
 11  ingredients       48625 non-null  object
dtypes: float64(4), object(8)
memory usage: 4.5+ MB

In [11]:
overall_sales_data.size

583500

In [12]:
overall_sales_data.shape

(48625, 12)

In [13]:
overall_sales_data.isna().sum()

order_details_id    5
order_id            5
pizza_id            0
quantity            5
date                5
time                5
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

## Data Cleaning

In [14]:
#removing all null values

overall_sales_data["order_details_id"] = overall_sales_data["order_details_id"].fillna("UNKNOWN")
overall_sales_data["order_id"] = overall_sales_data["order_id"].fillna("UNKNOWN")
overall_sales_data["quantity"] = overall_sales_data["quantity"].fillna("UNKNOWN")
overall_sales_data.dropna(subset = ["date", "time"], inplace = True)

In [15]:
overall_sales_data.isna().sum()

order_details_id    0
order_id            0
pizza_id            0
quantity            0
date                0
time                0
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

In [16]:
overall_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 0 to 48624
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  object
 1   order_id          48620 non-null  object
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  object
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(1), object(11)
memory usage: 4.8+ MB

In [17]:
#changing the data types of each column to an appropriate data type

overall_sales_data["order_details_id"].value_counts()

order_details_id
26.0       1
45905.0    1
44402.0    1
44408.0    1
44595.0    1
          ..
28901.0    1
28986.0    1
29010.0    1
29012.0    1
48553.0    1
Name: count, Length: 48620, dtype: int64

In [18]:
overall_sales_data["order_details_id"].replace("UNKNOWN", np.nan)

0           26.0
1           43.0
2           71.0
3           83.0
4          123.0
          ...
48620    48406.0
48621    48493.0
48622    48500.0
48623    48503.0
48624    48553.0
Name: order_details_id, Length: 48620, dtype: object

In [19]:
#changing the data types of the column to an appropriate data type

overall_sales_data["order_details_id"] = pd.to_numeric(overall_sales_data["order_details_id"], errors = "coerce")

overall_sales_data["order_details_id"].astype("Int64")

0           26
1           43
2           71
3           83
4          123
         ...
48620    48406
48621    48493
48622    48500
48623    48503
48624    48553
Name: order_details_id, Length: 48620, dtype: Int64

In [20]:
#changing the data types of the column to an appropriate data type

overall_sales_data["order_id"].value_counts()

order_id
18845.0    21
10760.0    21
14304.0    15
13906.0    15
20163.0    15
           ..
12875.0     1
12863.0     1
12655.0     1
12193.0     1
21246.0     1
Name: count, Length: 21350, dtype: int64

In [21]:
#changing the data types of the column to an appropriate data type

overall_sales_data["order_id"] = pd.to_numeric(overall_sales_data["order_id"], errors = "coerce")
overall_sales_data["order_id"].astype("Int64")

0           11
1           17
2           27
3           33
4           51
         ...
48620    21251
48621    21296
48622    21298
48623    21299
48624    21319
Name: order_id, Length: 48620, dtype: Int64

In [22]:
overall_sales_data["quantity"].value_counts()

quantity
1.0    47693
2.0      903
3.0       21
4.0        3
Name: count, dtype: int64

In [23]:
#changing the data types of the column to an appropriate data type

overall_sales_data["quantity"] = pd.to_numeric(overall_sales_data["quantity"], errors = "coerce")
overall_sales_data["quantity"].astype("Int64")

0        1
1        1
2        1
3        1
4        1
        ..
48620    2
48621    1
48622    1
48623    1
48624    1
Name: quantity, Length: 48620, dtype: Int64

In [24]:
overall_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 0 to 48624
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  float64
 1   order_id          48620 non-null  float64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  float64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(4), object(8)
memory usage: 4.8+ MB

In [25]:
#combining date and time columns

overall_sales_data["date_time"] = overall_sales_data["date"] + " " + overall_sales_data["time"]

overall_sales_data["date_time"]

0        2015-01-01 13:02:59
1        2015-01-01 13:53:00
2        2015-01-01 15:11:17
3        2015-01-01 15:54:08
4        2015-01-01 18:48:28
                ...
48620    2015-12-30 12:45:20
48621    2015-12-31 15:13:40
48622    2015-12-31 15:35:37
48623    2015-12-31 15:52:16
48624    2015-12-31 18:07:19
Name: date_time, Length: 48620, dtype: object

In [26]:
overall_sales_data.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients,date_time
0,26.0,11.0,bbq_ckn_l,1.0,2015-01-01,13:02:59,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59
1,43.0,17.0,bbq_ckn_l,1.0,2015-01-01,13:53:00,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00
2,71.0,27.0,bbq_ckn_l,1.0,2015-01-01,15:11:17,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17
3,83.0,33.0,bbq_ckn_l,1.0,2015-01-01,15:54:08,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08
4,123.0,51.0,bbq_ckn_l,1.0,2015-01-01,18:48:28,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28

In [27]:
#dropping the date and time columns

overall_sales_data.drop(["date", "time"], axis = 1, inplace = True)

In [28]:
#dropping null values in the date_time columns

overall_sales_data.dropna(subset = ["date_time"], inplace = True)

In [29]:
overall_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 0 to 48624
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  float64
 1   order_id          48620 non-null  float64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  float64
 4   pizza_type_id     48620 non-null  object
 5   size              48620 non-null  object
 6   price             48620 non-null  float64
 7   name              48620 non-null  object
 8   category          48620 non-null  object
 9   ingredients       48620 non-null  object
 10  date_time         48620 non-null  object
dtypes: float64(4), object(7)
memory usage: 4.5+ MB

In [30]:
overall_sales_data["date_time"].value_counts()

date_time
2015-11-18 12:25:12    21
2015-06-30 13:31:27    21
2015-08-27 12:58:58    15
2015-08-20 14:10:54    15
2015-12-09 13:41:22    15
                       ..
2015-08-03 14:03:38     1
2015-08-03 12:27:46     1
2015-07-30 20:52:06     1
2015-07-23 13:10:07     1
2015-12-30 11:32:31     1
Name: count, Length: 21350, dtype: int64

In [31]:
#changing the data types of the column to an appropriate data type

overall_sales_data["date_time"] = pd.to_datetime(overall_sales_data["date_time"])

In [32]:
overall_sales_data["date_time"]

0       2015-01-01 13:02:59
1       2015-01-01 13:53:00
2       2015-01-01 15:11:17
3       2015-01-01 15:54:08
4       2015-01-01 18:48:28
                ...
48620   2015-12-30 12:45:20
48621   2015-12-31 15:13:40
48622   2015-12-31 15:35:37
48623   2015-12-31 15:52:16
48624   2015-12-31 18:07:19
Name: date_time, Length: 48620, dtype: datetime64[ns]

In [33]:
overall_sales_data.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,date_time
0,26.0,11.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59
1,43.0,17.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00
2,71.0,27.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17
3,83.0,33.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08
4,123.0,51.0,bbq_ckn_l,1.0,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28

In [34]:
overall_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48620 entries, 0 to 48624
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  float64
 1   order_id          48620 non-null  float64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  float64
 4   pizza_type_id     48620 non-null  object
 5   size              48620 non-null  object
 6   price             48620 non-null  float64
 7   name              48620 non-null  object
 8   category          48620 non-null  object
 9   ingredients       48620 non-null  object
 10  date_time         48620 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 4.5+ MB

In [35]:
#changing the data types to the most suitable ones


overall_sales_data["order_details_id"] = overall_sales_data[["order_details_id"]].astype(int)

overall_sales_data["order_id"] = overall_sales_data[["order_id"]].astype(int)

overall_sales_data["quantity"] = overall_sales_data[["quantity"]].astype(int)

In [36]:
overall_sales_data

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,date_time
0,26,11,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59
1,43,17,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00
2,71,27,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17
3,83,33,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08
4,123,51,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28
...,...,...,...,...,...,...,...,...,...,...,...
48620,48406,21251,veggie_veg_s,2,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-30 12:45:20
48621,48493,21296,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 15:13:40
48622,48500,21298,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 15:35:37
48623,48503,21299,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 15:52:16
48624,48553,21319,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 18:07:19

## RECOMMENDED ANALYSIS
1. What is the total revenue/sales?
2. Find the total quantity sold.
3. Find the total orders.
4. How many pizza types do they sell?
5. Find the average price of the pizzas.
6. What are the peak hours of sales?
7. Find the total sales made on each day of the week. Which day of the week is when sales are made the most?
8. Find the top 5 bestselling pizzas.
9. Find the sales made in each month. Any trend noticeable?
10. Are there pizza types that are not doing well on the menu?

## The total revenue/sales

In [37]:
#Total Revenue/Sales

overall_sales_data["Revenue_per_sales"] = overall_sales_data["price"] / overall_sales_data["quantity"]

overall_sales_data["Revenue_per_sales"]

0        20.75
1        20.75
2        20.75
3        20.75
4        20.75
         ...
48620     6.00
48621    12.00
48622    12.00
48623    12.00
48624    12.00
Name: Revenue_per_sales, Length: 48620, dtype: float64

In [38]:
overall_sales_data.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,date_time,Revenue_per_sales
0,26,11,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59,20.75
1,43,17,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00,20.75
2,71,27,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17,20.75
3,83,33,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08,20.75
4,123,51,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28,20.75

## The total quantity sold.

In [39]:
total_qty = overall_sales_data["quantity"].sum()

total_qty

49574

## The total orders

In [40]:
total_orders = len(overall_sales_data["order_id"])

total_orders

48620

## The number of Pizza types they sell?

In [41]:
overall_sales_data["pizza_type_id"].value_counts().index

Index(['classic_dlx', 'bbq_ckn', 'hawaiian', 'pepperoni', 'thai_ckn',
       'cali_ckn', 'spicy_ital', 'sicilian', 'southw_ckn', 'four_cheese',
       'ital_supr', 'big_meat', 'veggie_veg', 'mexicana', 'napolitana',
       'spinach_fet', 'prsc_argla', 'peppr_salami', 'ital_cpcllo', 'the_greek',
       'five_cheese', 'pep_msh_pep', 'green_garden', 'ckn_alfredo',
       'ital_veggie', 'ckn_pesto', 'soppressata', 'spin_pesto', 'spinach_supr',
       'calabrese', 'mediterraneo', 'brie_carre'],
      dtype='object', name='pizza_type_id')

In [42]:
TotalPizzaType = len(overall_sales_data["pizza_type_id"].value_counts().index)

TotalPizzaType

32

## Find the average price of the pizzas.

In [43]:
total_price = overall_sales_data["price"].sum()

total_price

801944.7

In [44]:
no_of_price = len(overall_sales_data["price"])

no_of_price

48620

In [45]:
average_price = total_price/no_of_price

average_price

16.494132044426163

## Peak hours of sales?

In [46]:
overall_sales_data["date_time"].value_counts()

date_time
2015-11-18 12:25:12    21
2015-06-30 13:31:27    21
2015-08-27 12:58:58    15
2015-08-20 14:10:54    15
2015-12-09 13:41:22    15
                       ..
2015-08-03 14:03:38     1
2015-08-03 12:27:46     1
2015-07-30 20:52:06     1
2015-07-23 13:10:07     1
2015-12-30 11:32:31     1
Name: count, Length: 21350, dtype: int64

In [47]:
overall_sales_data["date_time"].value_counts() > 10

date_time
2015-11-18 12:25:12     True
2015-06-30 13:31:27     True
2015-08-27 12:58:58     True
2015-08-20 14:10:54     True
2015-12-09 13:41:22     True
                       ...
2015-08-03 14:03:38    False
2015-08-03 12:27:46    False
2015-07-30 20:52:06    False
2015-07-23 13:10:07    False
2015-12-30 11:32:31    False
Name: count, Length: 21350, dtype: bool

In [48]:
overall_sales_data["date_time"]

0       2015-01-01 13:02:59
1       2015-01-01 13:53:00
2       2015-01-01 15:11:17
3       2015-01-01 15:54:08
4       2015-01-01 18:48:28
                ...
48620   2015-12-30 12:45:20
48621   2015-12-31 15:13:40
48622   2015-12-31 15:35:37
48623   2015-12-31 15:52:16
48624   2015-12-31 18:07:19
Name: date_time, Length: 48620, dtype: datetime64[ns]

In [49]:
overall_sales_data["date_time"].dtypes

dtype('<M8[ns]')

In [50]:
overall_sales_data["date_time"] = pd.to_datetime(overall_sales_data["date_time"])

In [51]:
overall_sales_data["hour"] = overall_sales_data["date_time"].dt.hour

In [52]:
#calculating sales amount

overall_sales_data["sales_amount"] = overall_sales_data["price"] * overall_sales_data["quantity"]

overall_sales_data["sales_amount"]

0        20.75
1        20.75
2        20.75
3        20.75
4        20.75
         ...
48620    24.00
48621    12.00
48622    12.00
48623    12.00
48624    12.00
Name: sales_amount, Length: 48620, dtype: float64

In [53]:
overall_sales_data.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,date_time,Revenue_per_sales,hour,sales_amount
0,26,11,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59,20.75,13,20.75
1,43,17,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00,20.75,13,20.75
2,71,27,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17,20.75,15,20.75
3,83,33,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08,20.75,15,20.75
4,123,51,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28,20.75,18,20.75

In [54]:
#grouping sales amount by hour
hourly_sales = overall_sales_data.groupby("hour")["sales_amount"].sum()

hourly_sales

hour
9         83.00
10       303.65
11     44935.80
12    111877.90
13    106065.70
14     59201.40
15     52992.30
16     70055.40
17     86237.45
18     89296.85
19     72628.90
20     58215.40
21     42029.80
22     22815.15
23      1121.35
Name: sales_amount, dtype: float64

In [55]:
#peak hour

peak_hour = hourly_sales.idxmax()

peak_hour

12

In [56]:
#peak sales

peak_sales = hourly_sales.max() 

peak_sales

111877.9

## The total sales made on each day of the week

In [57]:
#Extract name of each day

overall_sales_data["days_of_week"] = overall_sales_data["date_time"].dt.day_name()

In [58]:
overall_sales_data

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,date_time,Revenue_per_sales,hour,sales_amount,days_of_week
0,26,11,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59,20.75,13,20.75,Thursday
1,43,17,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00,20.75,13,20.75,Thursday
2,71,27,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17,20.75,15,20.75,Thursday
3,83,33,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08,20.75,15,20.75,Thursday
4,123,51,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28,20.75,18,20.75,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48620,48406,21251,veggie_veg_s,2,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-30 12:45:20,6.00,12,24.00,Wednesday
48621,48493,21296,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 15:13:40,12.00,15,12.00,Thursday
48622,48500,21298,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 15:35:37,12.00,15,12.00,Thursday
48623,48503,21299,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 15:52:16,12.00,15,12.00,Thursday
48624,48553,21319,veggie_veg_s,1,veggie_veg,S,12.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",2015-12-31 18:07:19,12.00,18,12.00,Thursday

In [59]:
#grouping by day and suming sales

weekly_sales = overall_sales_data.groupby("days_of_week")["sales_amount"].sum()

weekly_sales

days_of_week
Friday       136073.90
Monday       107329.55
Saturday     123182.40
Sunday        99203.50
Thursday     123528.50
Tuesday      114133.80
Wednesday    114408.40
Name: sales_amount, dtype: float64

###  Day of the week with the most sales

In [60]:
peak_sales = weekly_sales.max()

peak_sales

136073.9

In [61]:
peak_day = weekly_sales.idxmax()

peak_day

'Friday'

## The top 5 bestselling pizzas

In [62]:
top5_quantity = overall_sales_data.groupby("pizza_id")["quantity"].sum()

top5_quantity

pizza_id
bbq_ckn_l         992
bbq_ckn_m         956
bbq_ckn_s         484
big_meat_s       1914
brie_carre_s      490
                 ...
the_greek_xl      552
the_greek_xxl      28
veggie_veg_l      427
veggie_veg_m      635
veggie_veg_s      464
Name: quantity, Length: 91, dtype: int32

In [63]:
top5_quantity.reset_index()

         pizza_id  quantity
0       bbq_ckn_l       992
1       bbq_ckn_m       956
2       bbq_ckn_s       484
3      big_meat_s      1914
4    brie_carre_s       490
..            ...       ...
86   the_greek_xl       552
87  the_greek_xxl        28
88   veggie_veg_l       427
89   veggie_veg_m       635
90   veggie_veg_s       464

[91 rows x 2 columns]

In [64]:
#sorting the top 5 quantity 

top5_quantity.reset_index().sort_values(by = "quantity", ascending = False).head()

         pizza_id  quantity
3      big_meat_s      1914
80     thai_ckn_l      1410
20  five_cheese_l      1409
21  four_cheese_l      1316
18  classic_dlx_m      1181

## Sales made in each month

In [65]:
#extracting month

overall_sales_data["month_of_the_year"] = overall_sales_data["date_time"].dt.month_name()

In [66]:
overall_sales_data.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,date_time,Revenue_per_sales,hour,sales_amount,days_of_week,month_of_the_year
0,26,11,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:02:59,20.75,13,20.75,Thursday,January
1,43,17,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 13:53:00,20.75,13,20.75,Thursday,January
2,71,27,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:11:17,20.75,15,20.75,Thursday,January
3,83,33,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 15:54:08,20.75,15,20.75,Thursday,January
4,123,51,bbq_ckn_l,1,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",2015-01-01 18:48:28,20.75,18,20.75,Thursday,January

In [67]:
#sorting month in calender order

month_order = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")

In [68]:
overall_sales_data["month_of_the_year"]= pd.Categorical(overall_sales_data["month_of_the_year"], categories = month_order, ordered = True)

In [69]:
overall_sales_data["month_of_the_year"]

0         January
1         January
2         January
3         January
4         January
           ...
48620    December
48621    December
48622    December
48623    December
48624    December
Name: month_of_the_year, Length: 48620, dtype: category
Categories (12, object): ['January' < 'February' < 'March' < 'April' ... 'September' < 'October' < 'November' < 'December']

In [70]:
#groupby month and sales

monthly_sales = overall_sales_data.groupby("month_of_the_year")["sales_amount"].sum()

monthly_sales

month_of_the_year
January      69793.30
February     65159.60
March        70397.10
April        68736.80
May          71402.75
June         68230.20
July         72557.90
August       68278.25
September    64180.05
October      64027.60
November     70395.35
December     64701.15
Name: sales_amount, dtype: float64

In [71]:
monthly_sales.reset_index()

   month_of_the_year  sales_amount
0            January      69793.30
1           February      65159.60
2              March      70397.10
3              April      68736.80
4                May      71402.75
5               June      68230.20
6               July      72557.90
7             August      68278.25
8          September      64180.05
9            October      64027.60
10          November      70395.35
11          December      64701.15

## Pizza types that are not doing well on the menu

In [72]:
#grouping the the pizza_type

pizza_performance = overall_sales_data.groupby("pizza_type_id").agg({"quantity": "sum", "sales_amount": "sum"})

pizza_performance

               quantity  sales_amount
pizza_type_id
bbq_ckn            2432      42768.00
big_meat           1914      22968.00
brie_carre          490      11588.50
calabrese           937      15934.25
cali_ckn           2370      41409.50
ckn_alfredo         987      16900.25
ckn_pesto           973      16701.75
classic_dlx        2453      38180.50
five_cheese        1409      26066.50
four_cheese        1902      32265.70
green_garden        997      13955.75
hawaiian           2422      32273.25
ital_cpcllo        1438      25094.00
ital_supr          1884      33476.75
ital_veggie         981      16019.25
mediterraneo        934      15360.50
mexicana           1484      26780.75
napolitana         1464      24087.00
pep_msh_pep        1359      18834.50
pepperoni          2418      30161.75
peppr_salami       1446      25529.00
prsc_argla         1457      24193.25
sicilian           1938      30940.50
soppressata         961      16425.75
southw_ckn         1917      34705.75
spicy_ital         1924      34831.25
spin_pesto          970      15596.00
spinach_fet        1446      23271.25
spinach_supr        950      15277.75
thai_ckn           2371      43434.25
the_greek          1420      28454.10
veggie_veg         1526      24374.75

In [73]:
#sorting the sales_amount in ascending order

pizza_performance.sort_values(by = "sales_amount")

               quantity  sales_amount
pizza_type_id
brie_carre          490      11588.50
green_garden        997      13955.75
spinach_supr        950      15277.75
mediterraneo        934      15360.50
spin_pesto          970      15596.00
calabrese           937      15934.25
ital_veggie         981      16019.25
soppressata         961      16425.75
ckn_pesto           973      16701.75
ckn_alfredo         987      16900.25
pep_msh_pep        1359      18834.50
big_meat           1914      22968.00
spinach_fet        1446      23271.25
napolitana         1464      24087.00
prsc_argla         1457      24193.25
veggie_veg         1526      24374.75
ital_cpcllo        1438      25094.00
peppr_salami       1446      25529.00
five_cheese        1409      26066.50
mexicana           1484      26780.75
the_greek          1420      28454.10
pepperoni          2418      30161.75
sicilian           1938      30940.50
four_cheese        1902      32265.70
hawaiian           2422      32273.25
ital_supr          1884      33476.75
southw_ckn         1917      34705.75
spicy_ital         1924      34831.25
classic_dlx        2453      38180.50
cali_ckn           2370      41409.50
bbq_ckn            2432      42768.00
thai_ckn           2371      43434.25

In [74]:
#assuming a treshold of 2%, pizza that contribute less to the total sales

total_sales = overall_sales_data["sales_amount"].sum()

pizza_performance["sales_percentage"] = ((pizza_performance["sales_amount"]) / total_sales)

pizza_performance["sales_percentage"]

pizza_type_id
bbq_ckn         0.052293
big_meat        0.028083
brie_carre      0.014169
calabrese       0.019483
cali_ckn        0.050632
ckn_alfredo     0.020664
ckn_pesto       0.020421
classic_dlx     0.046683
five_cheese     0.031872
four_cheese     0.039451
green_garden    0.017064
hawaiian        0.039461
ital_cpcllo     0.030683
ital_supr       0.040932
ital_veggie     0.019587
mediterraneo    0.018781
mexicana        0.032745
napolitana      0.029451
pep_msh_pep     0.023029
pepperoni       0.036879
peppr_salami    0.031214
prsc_argla      0.029581
sicilian        0.037831
soppressata     0.020084
southw_ckn      0.042435
spicy_ital      0.042588
spin_pesto      0.019069
spinach_fet     0.028454
spinach_supr    0.018680
thai_ckn        0.053107
the_greek       0.034791
veggie_veg      0.029803
Name: sales_percentage, dtype: float64

In [75]:
#underperformer less than 2%

under_performers = pizza_performance[pizza_performance["sales_percentage"] < 0.05]

under_performers

               quantity  sales_amount  sales_percentage
pizza_type_id
big_meat           1914      22968.00          0.028083
brie_carre          490      11588.50          0.014169
calabrese           937      15934.25          0.019483
ckn_alfredo         987      16900.25          0.020664
ckn_pesto           973      16701.75          0.020421
classic_dlx        2453      38180.50          0.046683
five_cheese        1409      26066.50          0.031872
four_cheese        1902      32265.70          0.039451
green_garden        997      13955.75          0.017064
hawaiian           2422      32273.25          0.039461
ital_cpcllo        1438      25094.00          0.030683
ital_supr          1884      33476.75          0.040932
ital_veggie         981      16019.25          0.019587
mediterraneo        934      15360.50          0.018781
mexicana           1484      26780.75          0.032745
napolitana         1464      24087.00          0.029451
pep_msh_pep        1359      18834.50          0.023029
pepperoni          2418      30161.75          0.036879
peppr_salami       1446      25529.00          0.031214
prsc_argla         1457      24193.25          0.029581
sicilian           1938      30940.50          0.037831
soppressata         961      16425.75          0.020084
southw_ckn         1917      34705.75          0.042435
spicy_ital         1924      34831.25          0.042588
spin_pesto          970      15596.00          0.019069
spinach_fet        1446      23271.25          0.028454
spinach_supr        950      15277.75          0.018680
the_greek          1420      28454.10          0.034791
veggie_veg         1526      24374.75          0.029803